<body>
    <header class="header">
        <div class="container">
            <h1><a href="/Architecture/Index">" style="color:white;text-decoration: none;">Architect Vision</a></h1>
            <nav>
                <ul>
                    <li><a href="/Architecture/Index">Home</a></li>
                    <li><a href="/Architecture/about">About Us</a></li>
                    <li><a href="/Architecture/Project">Project</a></li>
                    <li><a href="/Architecture/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="project-part">
        <div class="container">
            <h1>Commercial Projects</h1>
            <div class="projects-gallery">
                <div class="project-card">
                    <img src="~/Images/CP1.jpg" alt="Project 1">
                    <div class="project-info">
                        <h3>ENOC Tower</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP2.jpg" alt="Project 2">
                    <div class="project-info">
                        <h3>GS MOPA Headquarters</h3>
                        <p>ABU DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP3.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>FlyDubai Headquarters</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP4.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Downtown Dubai Tower</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP5.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Dubai Investment HQ</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP6.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Vision Tower</h3>
                        <p>DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP7.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Blue Bay Tower</h3>
                        <p>DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP8.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Al Reziza Tower</h3>
                        <p>KHOBAR, KSA</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/CP9.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Al Salimi New Tower</h3>
                        <p>DHAHRAN, KSA</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <a href="/Architecture/Project" class="back-button">Back to Portfolio</a>
        </div>
    </section>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; 2024 Architect Vision. All rights reserved.</p>
        </div>
    </footer>
</body>

