<body>
    <header class="header">
        <div class="container">
            <h1><a href="/Architecture/Index" style="color:white;text-decoration: none;">Architect Vision</a></h1>
            <nav>
                <ul>
                    <li><a href="/Architecture/Index">Home</a></li>
                    <li><a href="/Architecture/about">About Us</a></li>
                    <li><a href="/Architecture/Project">Project</a></li>
                    <li><a href="/Architecture/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="project-part">
        <div class="container">
            <h1>Education Projects</h1>
            <div class="projects-gallery">
                <div class="project-card">
                    <img src="~/Images/EP1.jpg" alt="Project 1">
                    <div class="project-info">
                        <h3>Dora Technical University</h3>
                        <p>BAGHDAD, IRAQ</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP2.jpg" alt="Project 2">
                    <div class="project-info">
                        <h3>Birmingham University</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP7.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>German School in Cario</h3>
                        <p>CAIRO, EGYPT</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP4.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Samarra University</h3>
                        <p>SAMARRA, IRAQ</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP5.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Oil & Gas University</h3>
                        <p>BASRA, IRAQ</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP6.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Karbala University</h3>
                        <p>KARBALA, IRAQ</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP3.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Amity Premium School</h3>
                        <p>ABU DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP8.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3> Al Bateen School</h3>
                        <p>ABU DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/EP9.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>English School in Cairo</h3>
                        <p>CAIRO, EGYPT</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <a href="/Architecture/Project" class="back-button">Back to Portfolio</a>
        </div>
    </section>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; 2024 Architect Vision. All rights reserved.</p>
        </div>
    </footer>
</body>
