<body>
    <header class="header">
        <div class="container">
            <h1>Architect Vision</h1>
            <nav>
                <ul>
                    <li><a href="/Architecture/Index">Home</a></li>
                    <li><a href="/Architecture/about">About Us</a></li>
                    <li><a href="/Architecture/Project">Project</a></li>
                    <li><a href="/Architecture/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="project-part">
        <div class="container">
            <h1>Public Projects</h1>
            <div class="projects-gallery">
                <div class="project-card">
                    <img src="~/Images/PP1.jpg" alt="Project 1">
                    <div class="project-info">
                        <h3>Dragon Tower</h3>
                        <p>HANOI, VIETNAM</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP2.jpg" alt="Project 2">
                    <div class="project-info">
                        <h3>Astana Grand Mosque</h3>
                        <p>ASTANA, KAZAKHSTAN</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP3.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Basra Culture Palace</h3>
                        <p>BASRA, IRAQ</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP4.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Aquarabia</h3>
                        <p>QIDDIYA, KSA</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP5.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Arena Mall</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP6.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Khilani Mosque</h3>
                        <p>ABU DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP7.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Sheikh Zayed Mosque Centre</h3>
                        <p>ABU DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP8.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Sahara Mall West Expansion</h3>
                        <p>SHARJAH, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/PP9.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Peacock Park</h3>
                        <p>DHABI, UAE</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <a href="/Architecture/Project" class="back-button">Back to Project</a>
        </div>
    </section>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; 2024 Architect Vision. All rights reserved.</p>
        </div>
    </footer>
</body>
