<body> 
    <header class="header">
        <div class="container">
            <h1>Architect Vision</h1>
            <nav>
                <ul>
                    <li><a href="/Architecture/Index">Home</a></li>
                    <li><a href="/Architecture/about">About Us</a></li>
                    <li><a href="/Architecture/Project">Project</a></li>
                    <li><a href="/Architecture/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="project-part">
        <div class="container">
            <h1>Residental Projects</h1>
            <div class="projects-gallery">
                <div class="project-card">
                    <img src="~/Images/RP2.jpg" alt="Project 1">
                    <div class="project-info">
                        <h3>LE MER MAISON</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP3.jpg" alt="Project 2">
                    <div class="project-info">
                        <h3>Al Thowima Residences</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP4.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Umm Sugeim Villas</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP5.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Al Ain Stadium</h3>
                        <p>AL AIN, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP6.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Beach Front Villas</h3>
                        <p>DUBAI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP7.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Bateen Park</h3>
                        <p>ABU DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP1.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Jeddah Gate i1 & i2</h3>
                        <p>JEDDAH, KSA</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP8.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Madina Al Arab</h3>
                        <p>DHABI, UAE</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="~/Images/RP9.jpg" alt="Project 3">
                    <div class="project-info">
                        <h3>Dar Al Wasl</h3>
                        <p>DHABI, UAE</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <a href="/Architecture/Project" class="back-button">Back to Project</a>
        </div>
    </section>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; 2024 Architect Vision. All rights reserved.</p>
        </div>
    </footer>
</body>